channels-redis
daphne
weaviate-client
langchain-weaviate
langchain-community
langflow
Cohere
llama-index
tavily-python
psycopg2
langchain_experimental
langgraph~=0.1.6
llama-index-core
llama-parse
llama-index-readers-file
python-dotenv~=1.0.1
semantic-router
celery~=5.4.0
crispy-tailwind
langchainhub
django~=5.0.4
django-viewflow~=2.0.2
asgiref~=3.8.1
channels~=4.1.0
pillow~=10.3.0
django-allauth~=0.62.1
python-dotenv~=1.0.1
djangorestframework~=3.15.1
langchain~=0.2.0
requests~=2.31.0
pydantic~=2.7.1
starlette~=0.37.2
langserve~=0.2.2
fastapi~=0.111.0
aiomysql~=0.2.0
pymysql~=1.1.1
markdown~=3.6
psycopg~=3.2.1