{% load static %}
<html>
<head>

    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
        Chatbot
    </title>
    <link href="{% static 'favicon.ico' %}" rel="icon"/>
    <link href="{% static 'style.css' %}" rel="stylesheet"/>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head>

<body :class="{'dark text-bodydark bg-boxdark-2': darkMode === true}"
      x-data="{ page: 'ecommerce', 'loaded': true, 'darkMode': true, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
      x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value =&gt; localStorage.setItem('darkMode', JSON.stringify(value)))">

{% block content %}
{% endblock %}
</body>
</html>